.header {
 text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.users {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;
  padding: 1rem;
  background-color: whitesmoke;
  border-collapse: collapse;
}


.usertable {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  opacity: 0.8;
  font-size:x-small;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
